@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    font-size: .8rem;
    font-weight: 200;
}
.error{
    color: red;
}
.hidden{
    display: none;
}
    input, textarea {
        display: block;
        margin: 8px 0;
    }
        strong {
            font-weight: 400;
        }
.post{
    background-color: antiquewhite;
}
    .post-form>button{
        color: white;
        background-color: green;
    }
    .post->p, .reply->p {
        margin: 8px;
    }
    .post, .reply {
        border: 1px dotted black;
        padding: 8px;
        margin-bottom: 8px;
    }
.reply{
    background-color: whitesmoke;
}
    .reply-form>button{
        background-color: antiquewhite;
        color: black;
    }
    .reply-form, .reply, .reply-error {
        margin-left: 35px;
    }
.reply, .post{
    border: 1px dotted black;
    padding: 8px;
    margin-bottom: 8px;
}